<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 빈 생성 -->
	<!-- srping jdbc 빈 생성 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<!--
			setDriver(driver);
			setUrl(url);
			setUsername(username);
			setPassword(password); 
		 -->
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/><!-- value : driver 클래스 지정 -->
		<property name="url" value="jdbc:oracle:thin:@211.238.142.102:1521:orcl"/>
		<property name="username" value="sist"/>
		<property name="password" value="1224"/>
	</bean>
	
	<bean id="userDao" class="com.sist.hr.UserDao">
		<!-- 만들어진 빈을 해당 빈에 속성으로 주입한다. -->
		<!-- 만든 Bean id=dataSource를 연결,
			프로퍼티 name=dataSource는 setDataSource를 연결시킨 것이다. name은 set문구를 제외해서 작성하는 네이밍 규칙을 따른다. -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 성능측정 -->
	<bean id="aroundAdvice" class="com.sist.hr.AroundAdvice" />
	<!-- AOP Config:around -->
	<aop:config>
		<aop:pointcut expression="execution(* com.sist.hr.*Dao.*(..))" id="pointCut"/>
		<aop:aspect ref="aroundAdvice" order="1">
			<aop:around method="perforLog" pointcut-ref="pointCut" />
		</aop:aspect>
	</aop:config>

</beans>