<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- UserService -->
	<bean id="userService" class="com.sist.hr.UserService">
		<property name="userDao" ref="userDao" />
		<property name="transactionManager" ref="platformTransactionManager"/>
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!--Transaction  -->
    <bean id="platformTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"></property>
    </bean>



    <!-- 성능 측정 :Around PointCut -->
	<bean id="aroundAdvice" class="com.sist.hr.AroundAdvice" />
	
	<aop:config>
		<aop:pointcut expression="execution(* com.sist.hr..*Dao.*(..))" id="allPointCut"/>
		<aop:aspect ref="aroundAdvice">
			<aop:around method="performLog" pointcut-ref="allPointCut"/>
		</aop:aspect>
	</aop:config>
	
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@211.238.142.102:1521:orcl"/>
		<property name="username" value="sist"/>
		<property name="password" value="1224"/>
	</bean>
    
	<bean id="userDao" class="com.sist.hr.UserDaoJdbc">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
</beans>



